@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply your Gym Theme to the whole body */
body {
  background-color: theme('colors.brand.bg');
  color: theme('colors.brand.text');
  font-family: theme('fontFamily.sans');
}